<a class="secondary top" href="[[~[[*id]]]]#" title="[[%sprout.footer.back_to_top]]" role="button"></a>

<footer>
    <div class="container">
        [[%sprout.footer.goodbye_world]]
    </div>
</footer>