/* Global CSS variables */
:root {
    --border-radius: 0;
    --scale-ratio: 1.25;

    --font-size-h6: var(--font-size);
    --font-size-h5: calc(var(--font-size-h6) * var(--scale-ratio));
    --font-size-h4: calc(var(--font-size-h5) * var(--scale-ratio));
    --font-size-h3: calc(var(--font-size-h4) * var(--scale-ratio));
    --font-size-h2: calc(var(--font-size-h3) * var(--scale-ratio));
    --font-size-h1: calc(var(--font-size-h2) * var(--scale-ratio));

    --scroll-top-offset: 400vh;
}

/* Typography */
@media (min-width: 768px) {
    h1 { --font-size: var(--font-size-h1); }
    h2 { --font-size: var(--font-size-h2); }
    h3 { --font-size: var(--font-size-h3); }
    h4 { --font-size: var(--font-size-h4); }
    h5 { --font-size: var(--font-size-h5); }
    h6 { --font-size: var(--font-size-h6); }
}

/* Header */

/* Main */
@media (min-width: 992px) {
    main.container {
        max-width: 800px;
    }

    main.container p.image {
        text-align: center;
    }
    main.container img {
        max-width: calc(100% + var(--block-spacing-horizontal) * 8);
        margin-left: calc(var(--block-spacing-horizontal) * -4);
        margin-right: calc(var(--block-spacing-horizontal) * -4);
    }
    main.container article,
    main.container article > header,
    main.container article > footer {
        margin-left: calc(var(--block-spacing-horizontal) * -2);
        margin-right: calc(var(--block-spacing-horizontal) * -2);
        padding-left: calc(var(--block-spacing-horizontal) * 2);
        padding-right: calc(var(--block-spacing-horizontal) * 2);
    }
}

@media (max-width: 575px) {
    main.container img,
    main.container article {
        max-width: 100vw;
        margin-left: calc(var(--spacing) * -1);
        margin-right: calc(var(--spacing) * -1);
    }
}

blockquote p {
    font-size: calc(var(--font-size) * var(--scale-ratio));
    color: var(--muted-color);
}
blockquote p:last-child {
    margin-bottom: 0;
}

/* Back to top */
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    margin-bottom: calc(var(--scroll-top-offset) * -1);
}

a.top {
    margin-top: var(--scroll-top-offset);
    position: sticky;
    align-self: flex-end;
    width: 60px;
    height: 60px;
    padding: 0;
    bottom: var(--block-spacing-vertical);
    margin-right: var(--block-spacing-horizontal);
    opacity: .65;

    display: flex;
}
a.top:before {
    content: var(--icon-chevron-button);
    display: block;
    line-height: var(--font-size);
    transform: rotate(180deg);

    flex: 1;
    align-self: center;
}

/* Footer */
body > footer {
    margin-top: -30px;
    background: var(--code-background-color);
}